<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <h3 class="text-dark mb-0" style="margin: 0px;margin-top: 2%;">
                        Features
                    </h3>
                </div>

                <div class="col-6">
                    <button class="btn btn-primary pull-right" type="button" style="margin-top: 2%;padding: 4px;">
                        + Add a feature
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="color: var(--white);background: var(--blue);">ID</th>
                                    <th style="background: var(--blue);color: var(--light);">Name</th>
                                    <th style="background: var(--blue);color: var(--light);">Original Completion</th>
                                    <th style="color: var(--light);background: var(--blue);">Expected Completion</th>
                                    <th style="color: var(--light);background: var(--blue);">Dependency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span style="text-decoration: underline;">F10</span></td>
                                    <td>Environment Setup</td>
                                    <td>2/15/2021</td>
                                    <td>3/01/2021</td>
                                    <td><span style="text-decoration: underline;">F9</span></td>
                                </tr>
                                <tr>
                                    <td><span style="text-decoration: underline;">F11</span></td>
                                    <td>Web Design</td>
                                    <td>3/15/2021</td>
                                    <td>3/01/2021</td>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td><span style="text-decoration: underline;">F12</span></td>
                                    <td>Beta Checkout Functionlity</td>
                                    <td>4/15/2021</td>
                                    <td>4/01/2021</td>
                                    <td><span style="text-decoration: underline;">F12</span></td>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
    </div>
</div>