<div class="container-fluid">
    <h3 class="text-dark mb-1">Insert Project Keyword</h3>
</div>
<form class="search-form">
    <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div><input class="form-control" type="text" placeholder="I am looking for..">
        <div class="input-group-append"><button class="btn btn-light" type="button">Search </button></div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <h4 class="card-title" style="color: rgb(21,21,21);">Want Some Help to Choose a Project?</h4>
        <h6 class="text-muted card-subtitle mb-2" style="color: rgb(13,13,14);">Please answer following questions</h6>
        <div class="card">
            <div class="card-body">
                <p>1. Research or Development?</p><select class="form-control-sm">
                    <optgroup label="This is a group">
                        <option value="12" selected="">Research</option>
                        <option value="13" selected="">Development</option>
                        <option value="">Both</option>
                    </optgroup>
                </select>
            </div>
            <div class="card-body">
                <p>2. Programming Languages?</p><input class="form-control-sm" type="text">
            </div>
            <div class="card-body">
                <p>3. Project Type？</p><select class="form-control-sm">
                    <optgroup label="This is a group">
                        <option value="12" selected="">Open Source</option>
                        <option value="13">New Business</option>
                    </optgroup>
                </select>
            </div>
            <div class="card-body">
                <p>4. Role?</p><select class="form-control-sm">
                    <optgroup label="This is a group">
                        <option value="12" selected="">Product Designer</option>
                        <option value="13">Project Developer</option>
                        <option value="14">Product Manager</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <p></p>
    </div>
</div>