<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <h3 class="text-dark mb-4">&nbsp;Your Profile</h3>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="../assets/img/team/profile1.jpg" width="160" height="160">
                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
                            <div class="card">
                                <div class="card-body text-center"><select class="form-control-sm" style="color: var(--blue);font-size: 20;border-width: 2;border-color: var(--blue);">
                                        <optgroup label="This is a group">
                                            <option value="12" selected="">Developer</option>
                                            <option value="13">Researcher</option>
                                            <option value="14">All</option>
                                        </optgroup>
                                    </select>
                                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Your Role</button></div>
                                </div>
                                <div class="card-body text-center"><select class="form-control-sm" style="color: var(--blue);font-size: 20;border-width: 2;border-color: var(--blue);">
                                        <optgroup label="This is a group">
                                            <option value="12" selected="">Product Designer</option>
                                            <option value="13">Project Developer</option>
                                            <option value="14">Procuct Manager</option>
                                            <option value="14">All</option>
                                        </optgroup>
                                    </select>
                                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Your Role</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row mb-3 d-none">
                        <div class="col">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col">
                                            <p class="m-0">Peformance</p>
                                            <p class="m-0"><strong>65.2%</strong></p>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                    </div>
                                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-white bg-success shadow">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col">
                                            <p class="m-0">Peformance</p>
                                            <p class="m-0"><strong>65.2%</strong></p>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                    </div>
                                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">User Information</p>
                                </div>
                                <div class="card-body">
                                    <form class="profile-form">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="username"><strong>Username</strong></label>
                                                    <input class="form-control" type="text" placeholder="user.name" name="username">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="email"><strong>Email Address</strong></label>
                                                    <input class="form-control" type="email" placeholder="user@example.com" name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="first_name"><strong>First Name</strong></label>
                                                    <input class="form-control" type="text" placeholder="John" name="first_name">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="last_name"><strong>Last Name</strong></label>
                                                    <input class="form-control" type="text" placeholder="Doe" name="last_name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                    </form>
                                </div>

                            </div>
                            <div class="card shadow"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">Interests</h4>
                        <p class="card-text">Topic1:<br><input class="form-control-sm" type="text"><br></p>
                        <p>Topic2:<br><input class="form-control-sm" type="text"><br></p>
                        <p>Topic3:<br><input class="form-control-sm" type="text"><br></p>
                        <p><button class="btn btn-primary" type="button">Add More</button><br></p>
                        <button class="btn btn-primary" type="button">Update Interests</button>
                    </div>
                    <div class="col">
                        <h4 class="card-title">Experiences</h4>
                        <p class="card-text">Programming Languages:<br><input class="form-control-sm" type="text"><br></p>
                        <p>Project Type<br><input class="form-control-sm" type="text"><br></p>
                        <p>Project Link<br><input class="form-control-sm" type="text"><br></p>
                        <p><button class="btn btn-primary" type="button">Add More</button><br></p>
                        <button class="btn btn-primary" type="button">Update Experiences</button>
                    </div>
                    <div class="col">
                        <h4 class="card-title">Skills</h4>
                        <p class="card-text">Skill 3<br><input class="form-control-sm" type="text"><br></p>
                        <p>Skill 1<br><input class="form-control-sm" type="text"><br></p>
                        <p>Skill 2<br><input class="form-control-sm" type="text"><br></p>
                        <p><button class="btn btn-primary" type="button">Add More</button><br></p>
                        <button class="btn btn-primary" type="button">Update Skills</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>